.splash{
    background: url(https://i.ibb.co/7nYfVG0/holly-mandarich-UVy-Of-X3v0-Ls-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
}

@keyframes fadeInAnimation{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.splash_nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-top: 15px;
}

.splash_auth_buttons{
    display: flex;
    margin-right: 35px;
}

.splash_auth{
    text-decoration: none;
    background-color: #058C42;
    width: 100px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.splash_logout{
    margin-right: 35px;
}

.splash_auth:hover{
    border: 1px solid white;
    width: 98px;
    height: 31px;
}

.splash_signup{
    margin-right: 15px;
}

.splash_content{
    /* background-color: bisque; */
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.splash_content h2{
    font-size: 75px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.splash_search_form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -15px 0px 30px 0px;
}

.splash_search_form button{
    margin-left: 30px;
    text-decoration: none;
    background-color: #058C42;
    width: 100px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: none;
}

.splash_search_form button:hover{
    border: 1px white solid;
    width: 98px;
    height: 31px;
    margin-left: 32px;
}

.splash_search_form input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

.splash_logo{
    width: 75px;
    padding-left: 20px;
}

.page_not_found{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.splash_center{
    margin-top: 10%;
    background: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(10px);
    padding: 0px 30px;
    border-radius: 10px;
}

.splash_emphasis{
    font-style: oblique;
}
