.splash{
    background: url(https://i.ibb.co/7nYfVG0/holly-mandarich-UVy-Of-X3v0-Ls-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@keyframes fadeInAnimation{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.splash_nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-top: 15px;
}

.splash_auth_buttons{
    display: flex;
    margin-right: 50px;
}

.splash_auth{
    text-decoration: none;
    background-color: #058C42;
    width: 100px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.splash_auth:hover{
    border: 1px solid white;
    width: 98px;
    height: 31px;
}

.splash_signup{
    margin-right: 15px;
}

.splash_content{
    /* background-color: bisque; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splash_content h2{
    margin-top: -350px;
    font-size: 75px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.splash_search_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash_search_form button{
margin-top: 30px;
}

.splash_logo{
    width: 75px;
    padding-left: 20px;
}