.hike_content{
    width: 80%;
    margin-top: 75px;
    background-color: #E5F2C9;
    padding-top: 15px;
    margin: 75px auto 0px auto;
    height: 100%;
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 675px 80px 1fr, 50px;
    grid-template-areas: 
    "photo photo photo"
    "name name name"
    "description description map"
    "button button owner";
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.445), -1px 0px 7px rgba(0, 0, 0, 0.445);
}

.hike_name{
    grid-area: name;
    margin: 0 auto 15px auto;
    font-size: 40px;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

.hike_description{
    grid-area: description;
    margin: 0 auto;
    padding: 15px;
    font-size: 18px;
}

.hike_photo{
    grid-area: photo;
    max-height: 675px;
    max-width: 100%;
    margin: 0 auto;
}

.hike_content + div {
    grid-area: map;
    margin: 15px 15px 0px 0px
}

.add_to_fav{
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}   

.hike_owner_buttons{
    grid-area: owner;
    display: flex;
    justify-content: space-around;
}

.add_to_fav button{
    height: 40px;
    width: 175px;
}

.hike_card{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 22%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4px;
    background-color: white;
    border-radius: 5px;
    padding: 1px;
    cursor: pointer;
}

.hike_card_photo{
    max-height: 40%;
    max-width: 100%;
}

.main_recent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
}