.login{
    background: url(https://i.ibb.co/tYjTWTm/john-towner-3-Kv48-NS4-WUU-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
}

.login_form_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: darkcyan; */
    padding: 50px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);

}

.login_logo{
    width: 100px;
    cursor: pointer;
}

.login_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}