.login{
    background: url(https://i.ibb.co/tYjTWTm/john-towner-3-Kv48-NS4-WUU-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
}

.login_form_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: darkcyan; */
    padding: 50px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);

}

.login_logo{
    width: 100px;
    cursor: pointer;
    margin-top: -20px;
}

.login_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_form h2{
    font-size: 26px;
}

.login_form_wrapper input{
    height: 30px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
}

.login_form_wrapper label{
    font-size: 20px;
    margin-bottom: 7px;
    font-weight: 400;
}

#login_submit{
    text-decoration: none;
    background-color: #058C42;
    width: 115px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border: none;
}

#login_submit:hover{
    border: white 1px solid;
    width: 113px;
    height: 31px;
}

#demo_login{
    text-decoration: none;
    background-color: #058C42;
    width: 115px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border: none;
}

#demo_login:hover{
    border: white 1px solid;
    width: 113px;
    height: 31px;
}

.login_buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: -20px;
}

.login_form{
    width: 250px;
}