.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_map{
    height: 50%;
    width: 70%;
}

.map_wrapper{
    width: 500px;
    height: 300px;
}

h1{
    font-size: 100px;
    color:pink;
    background-color: green;
    z-index: 1000;
}