.main_content{
    width: 80%;
    margin-top: 75px;
    background-color: #E5F2C9;
    padding-top: 15px;
    margin: 75px auto 0px auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.445), -1px 0px 7px rgba(0, 0, 0, 0.445);
}

.main_nav{
    position: fixed;
    top: 0px;
    display: flex;
    background-color: #04471C;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 1px 5px black;
}

.main_nav button{
    text-decoration: none;
    height: 35px;
    width: 60px;
}


.main_auth_buttons{
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.main_logo{
    width: 65px;
    padding-left: 15px;
}

#main_nav_text{
    position: relative;
    
}

.main_create_btn{
    text-decoration: none;
    background-color: #058C42;
    width: 225px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-top: 25px;;
}

.main_create_btn:hover{
    border: 1px solid white;
    width: 198px;
    height: 48px;
}

.map_photo{
    max-width: 200px;
    max-height: 250px;
}